# RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
RPC_URL=https://bsc-dataseed.bnbchain.org
EOA_PRIVATE_KEY=
SPONSOR_PRIVATE_KEY=
# CHAIN_ID=11155111
CHAIN_ID=56
ETHERSCAN_API_KEY=
# SMART_WALLET_ADDRESS=0xE39B180DD6c0Fb6662dC1Ee78b2953C47032A53D
SMART_WALLET_ADDRESS=0xd1686F5FE4dA3C8FB1B8E6E88d4932646BA94D0a